.menu {
    color: white;
    background-color: #000;
    border: 2px solid #a5a5a5;
    border-radius: 8px;
    -GtkMenu-horizontal-padding: 2;
    padding: 1.4em 0;
}

.menu .menuitem {
    /*font: Cantarell 9;*/ /* FIXME: not working, Company: "font is hardcoded at the moment, known bug" */
    padding: 0.5em 4.75em 0.5em 0.78em;
}

.menu .menuitem:active,
.menu .menuitem:hover {
    background-color: #4c4c4c;
}

.scrollbar.trough {
    background-color: #000;
}

