.menu {
    color: white;
    background-color: #000;
    border: 2px solid #a5a5a5;
    border-radius: 8px;
    -GtkMenu-horizontal-padding: 2;
    padding: 1.4em 0;
}

.menu .menuitem {
    font: Cantarell 11; /* Requires gtk 3.7.4 (was hardcoded before) */
    padding: 0.5em 4.75em 0.5em 0.78em;
}

.menu .menuitem:active,
.menu .menuitem:hover {
    background-color: #4c4c4c;
    border: 2px solid #a5a5a5;
    border-width: 0 2px;
}

GtkWindow {
    background-color: rgba(0,0,0,0.0);
}

.scrollbar.trough {
    background-color: #000;
}
